Repository Vasallo94/ObsidianRAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, plugin-lint, plugin-tsc

.pre-commit-config.yaml:

# Root pre-commit configuration for ObsidianRAG
# Runs checks for both backend (Python) and plugin (TypeScript)

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict

  # Backend (Python) - Ruff
  # Using repo-based hook for speed and caching
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend (Python) - Mypy (Local)
  # Running locally to use the virtualenv's environment and dependencies
  - repo: local
    hooks:
      - id: backend-mypy
        name: backend-mypy
        entry: bash -c 'cd backend && uv run mypy .'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Plugin (TypeScript) - ESLint (Local)
  - repo: local
    hooks:
      - id: plugin-lint
        name: plugin-lint
        entry: bash -c 'cd plugin && pnpm lint'
        language: system
        files: ^plugin/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Plugin (TypeScript) - TSC (Local)
  # Type checking only (no emit)
  - repo: local
    hooks:
      - id: plugin-tsc
        name: plugin-tsc
        entry: bash -c 'cd plugin && pnpm exec tsc --noEmit --skipLibCheck'
        language: system
        files: ^plugin/.*\.(ts|tsx)$
        pass_filenames: false

feat: add shared v4 query pipeline
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/core/query_pipeline.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_cli.py
  backend/tests/test_query_pipeline.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

ci: always run required plugin checks
  .github/workflows/test-plugin.yml
Due: none

feat: add shared v4 query pipeline (#54)
  .github/workflows/test-plugin.yml
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/core/query_pipeline.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_cli.py
  backend/tests/test_query_pipeline.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

feat: adapt v4 generation context
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/core/query_pipeline.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_query_pipeline.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

feat: adapt v4 generation context (#55)
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/core/query_pipeline.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_query_pipeline.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

feat: retrieve multipart v4 context
  CHANGELOG.md
  backend/README.md
  backend/evaluation/questions.json
  backend/obsidianrag/core/query_pipeline.py
  backend/tests/test_query_pipeline.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

feat: retrieve multipart v4 context (#56)
  CHANGELOG.md
  backend/README.md
  backend/evaluation/questions.json
  backend/obsidianrag/core/query_pipeline.py
  backend/tests/test_query_pipeline.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

feat: make RAG generation deterministic
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/config.py
  backend/obsidianrag/core/llm_provider.py
  backend/tests/test_llm_provider.py
Due: backend-mypy

feat: make RAG generation deterministic (#57)
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/config.py
  backend/obsidianrag/core/llm_provider.py
  backend/tests/test_llm_provider.py
Due: backend-mypy

fix: address v4 retrospective review
  CHANGELOG.md
  backend/README.md
  backend/evaluation/README.md
  backend/obsidianrag/agent_evaluation.py
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/config.py
  backend/obsidianrag/core/query_pipeline.py
  backend/obsidianrag/evaluation.py
  backend/obsidianrag/pi_agent_adapter.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_agent_evaluation.py
  backend/tests/test_evaluation.py
  backend/tests/test_query_pipeline.py
Due: backend-mypy

fix: address v4 retrospective review (#58)
  CHANGELOG.md
  backend/README.md
  backend/evaluation/README.md
  backend/obsidianrag/agent_evaluation.py
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/config.py
  backend/obsidianrag/core/query_pipeline.py
  backend/obsidianrag/evaluation.py
  backend/obsidianrag/pi_agent_adapter.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_agent_evaluation.py
  backend/tests/test_evaluation.py
  backend/tests/test_query_pipeline.py
Due: backend-mypy

fix: fuse hybrid rankings by source
  CHANGELOG.md
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

fix: fuse hybrid rankings by source (#59)
  CHANGELOG.md
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

feat: preserve query-aware evidence passages
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/core/query_pipeline.py
  backend/tests/test_query_pipeline.py
Due: backend-mypy

feat: preserve query-aware evidence passages (#60)
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/core/query_pipeline.py
  backend/tests/test_query_pipeline.py
Due: backend-mypy

feat: add incremental v4 index revisions
  CHANGELOG.md
  README.md
  backend/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/v4/__init__.py
  backend/obsidianrag/v4/index.py
  backend/tests/test_v4_experimental.py
  backend/tests/test_v4_incremental.py
  docs/developer-guide/architecture.md
Due: backend-mypy

fix: harden v4 index lifecycle
  CHANGELOG.md
  README.md
  backend/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/v4/__init__.py
  backend/obsidianrag/v4/index.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_cli.py
  backend/tests/test_v4_experimental.py
  backend/tests/test_v4_incremental.py
  docs/developer-guide/architecture.md
Due: backend-mypy

fix: anchor v4 filesystem operations
  backend/obsidianrag/v4/index.py
Due: backend-mypy

Add incremental v4 index revisions (#61)
  CHANGELOG.md
  README.md
  backend/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/v4/__init__.py
  backend/obsidianrag/v4/index.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_cli.py
  backend/tests/test_v4_experimental.py
  backend/tests/test_v4_incremental.py
  docs/developer-guide/architecture.md
Due: backend-mypy

feat: promote v4 index primitives
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/core/query_pipeline.py
  backend/obsidianrag/v4/__init__.py
  backend/obsidianrag/v4/index.py
  backend/obsidianrag/v4/retrieval.py
  backend/pyproject.toml
  backend/tests/test_query_pipeline.py
  backend/tests/test_v4_experimental.py
  backend/tests/test_v4_incremental.py
  backend/uv.lock
Due: backend-mypy

feat: switch the API to the v4 runtime
  backend/obsidianrag/api/server.py
  backend/obsidianrag/config.py
  backend/obsidianrag/core/query_pipeline.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_query_pipeline.py
  backend/tests/test_server.py
Due: backend-mypy

feat: add v4 index lifecycle UX
  plugin/src/main.ts
  plugin/tests/edge-cases.test.ts
Due: plugin-lint, plugin-tsc

refactor: make the CLI v4-only
  backend/obsidianrag/api/server.py
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/v4/index.py
  backend/tests/test_cli.py
  backend/tests/test_server.py
Due: backend-mypy

ci: add cross-platform v4 release gates
  .github/workflows/test-backend.yml
  .github/workflows/test-plugin.yml
Due: none

fix: support Windows v4 release checks
  CHANGELOG.md
  backend/obsidianrag/agent_evaluation.py
  backend/obsidianrag/v4/index.py
  backend/tests/test_cli.py
Due: backend-mypy

fix: inspect Windows lease processes safely
  CHANGELOG.md
  backend/obsidianrag/v4/index.py
  backend/tests/test_v4_incremental.py
Due: backend-mypy

fix: address v4.0.0 retrospective findings
  .github/workflows/release-backend.yml
  .github/workflows/test-backend.yml
  CHANGELOG.md
  README.md
  backend/LICENSE
  backend/README.md
  backend/obsidianrag/__init__.py
  backend/obsidianrag/api/server.py
  backend/obsidianrag/v4/index.py
  backend/pyproject.toml
  backend/scripts/verify_dist.py
  backend/tests/test_server.py
  backend/tests/test_v4_incremental.py
  backend/uv.lock
  docs/TESTING_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/user-guide/installation.md
  docs/user-guide/usage.md
  plugin/README.md
  plugin/manifest.json
  plugin/package.json
  plugin/src/main.ts
  plugin/tests/edge-cases.test.ts
Due: backend-mypy, plugin-lint, plugin-tsc

fix: prepare ObsidianRAG 4.0.1 (#63)
  .github/workflows/release-backend.yml
  .github/workflows/test-backend.yml
  CHANGELOG.md
  README.md
  backend/LICENSE
  backend/README.md
  backend/obsidianrag/__init__.py
  backend/obsidianrag/api/server.py
  backend/obsidianrag/v4/index.py
  backend/pyproject.toml
  backend/scripts/verify_dist.py
  backend/tests/test_server.py
  backend/tests/test_v4_incremental.py
  backend/uv.lock
  docs/TESTING_GUIDE.md
  docs/TROUBLESHOOTING.md
  docs/user-guide/installation.md
  docs/user-guide/usage.md
  plugin/README.md
  plugin/manifest.json
  plugin/package.json
  plugin/src/main.ts
  plugin/tests/edge-cases.test.ts
Due: backend-mypy, plugin-lint, plugin-tsc

chore: clean and secure dependencies
  .github/workflows/docker.yml
  CHANGELOG.md
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
  plugin/package.json
  plugin/pnpm-lock.yaml
Due: none

chore: clean and secure dependencies (#64)
  .github/workflows/docker.yml
  CHANGELOG.md
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
  plugin/package.json
  plugin/pnpm-lock.yaml
Due: none
