Repository Vasallo94/ObsidianRAG: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-mypy, plugin-lint, plugin-tsc

.pre-commit-config.yaml:

# Root pre-commit configuration for ObsidianRAG
# Runs checks for both backend (Python) and plugin (TypeScript)

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict

  # Backend (Python) - Ruff
  # Using repo-based hook for speed and caching
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.4
    hooks:
      - id: ruff
        args: [--fix]
        files: ^backend/
      - id: ruff-format
        files: ^backend/

  # Backend (Python) - Mypy (Local)
  # Running locally to use the virtualenv's environment and dependencies
  - repo: local
    hooks:
      - id: backend-mypy
        name: backend-mypy
        entry: bash -c 'cd backend && uv run mypy .'
        language: system
        types: [python]
        files: ^backend/
        pass_filenames: false

  # Plugin (TypeScript) - ESLint (Local)
  - repo: local
    hooks:
      - id: plugin-lint
        name: plugin-lint
        entry: bash -c 'cd plugin && pnpm lint'
        language: system
        files: ^plugin/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false

  # Plugin (TypeScript) - TSC (Local)
  # Type checking only (no emit)
  - repo: local
    hooks:
      - id: plugin-tsc
        name: plugin-tsc
        entry: bash -c 'cd plugin && pnpm exec tsc --noEmit --skipLibCheck'
        language: system
        files: ^plugin/.*\.(ts|tsx)$
        pass_filenames: false

ci: update backend workflow to use mypy and add plugin workflow
  .github/workflows/test-backend.yml
  .github/workflows/test-plugin.yml
Due: none

ci(plugin): fix pnpm setup order and cache path
  .github/workflows/test-plugin.yml
Due: none

chore: update dependencies and fix vulnerabilities
  backend/pyproject.toml
  backend/uv.lock
  plugin/package.json
  plugin/pnpm-lock.yaml
Due: none

fix(test): add missing type hints to satisfy mypy strict checks
  backend/tests/conftest.py
Due: backend-mypy

test(backend): add test coverage for ollama utils to meet >30% requirement
  backend/tests/test_ollama.py
Due: backend-mypy

Fix python vulnerabilities in backend
  backend/uv.lock
Due: none

Add flexible LLM provider support
  backend/obsidianrag/api/server.py
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/config.py
  backend/obsidianrag/core/llm_provider.py
  backend/obsidianrag/core/qa_agent.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_integration.py
  backend/tests/test_qa_agent.py
  backend/uv.lock
  plugin/main.js
  plugin/src/main.ts
Due: backend-mypy, plugin-lint, plugin-tsc

Fix LLM provider bugs and remove all emojis from codebase
  backend/obsidianrag/api/server.py
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/config.py
  backend/obsidianrag/core/db_service.py
  backend/obsidianrag/core/llm_provider.py
  backend/obsidianrag/core/qa_agent.py
  backend/obsidianrag/core/qa_service.py
  backend/obsidianrag/core/rag.py
  backend/obsidianrag/utils/ollama.py
  plugin/main.js
  plugin/src/main.ts
Due: backend-mypy, plugin-lint, plugin-tsc

Add Docker support for backend deployment
  .env.example
  backend/.dockerignore
  backend/Dockerfile
  docker-compose.yml
Due: none

Fix 26 audit issues: security, performance, and bug fixes
  backend/Dockerfile
  backend/obsidianrag/api/server.py
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/config.py
  backend/obsidianrag/core/db_service.py
  backend/obsidianrag/core/llm_provider.py
  backend/obsidianrag/core/metadata_tracker.py
  backend/obsidianrag/core/qa_agent.py
  backend/obsidianrag/core/qa_service.py
  docker-compose.yml
  plugin/main.js
  plugin/src/main.ts
Due: backend-mypy, plugin-lint, plugin-tsc

Fix LLM timeout and BM25 per-request rebuild
  backend/obsidianrag/api/server.py
  backend/obsidianrag/core/llm_provider.py
Due: backend-mypy

Rewrite README and update CHANGELOG
  CHANGELOG.md
  README.md
Due: none

Fix all ObsidianReviewBot lint issues for plugin submission
  plugin/main.js
  plugin/src/main.ts
Due: plugin-lint, plugin-tsc

Add Docker CI workflow and use pre-built GHCR image
  .github/workflows/docker.yml
  docker-compose.yml
Due: none

Polish project presentation: badges, CLAUDE.md, metadata
  CLAUDE.md
  README.md
  plugin/main.js
  plugin/src/main.ts
Due: plugin-lint, plugin-tsc

Fix all ObsidianReviewBot issues: ChildProcess type, sentence-case, unsafe call
  plugin/eslint.config.mjs
  plugin/main.js
  plugin/src/main.ts
Due: plugin-lint, plugin-tsc

Remove transcript_dotcsv.txt
  transcript_dotcsv.txt
Due: none

Fix backend lint: sort imports, remove unused imports
  backend/obsidianrag/api/server.py
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/config.py
  backend/obsidianrag/core/qa_agent.py
Due: backend-mypy

Fix backend CI: format, mypy errors, and lint issues
  backend/obsidianrag/api/server.py
  backend/obsidianrag/config.py
  backend/obsidianrag/core/db_service.py
  backend/obsidianrag/core/llm_provider.py
  backend/obsidianrag/core/qa_agent.py
  backend/tests/test_integration.py
  backend/uv.lock
Due: backend-mypy

Fix 36 ObsidianReviewBot lint violations for plugin submission
  plugin/main.js
  plugin/manifest.json
  plugin/package.json
  plugin/src/main.ts
Due: plugin-lint, plugin-tsc

Potential fix for code scanning alert no. 2: Information exposure through an exception
  backend/obsidianrag/core/qa_agent.py
Due: backend-mypy

Remove lint directive comments from plugin
  .gitignore
  plugin/lint_report.json
  plugin/lint_report_final.json
  plugin/lint_report_final_v2.json
  plugin/lint_report_final_v3.json
  plugin/lint_report_final_v4.json
  plugin/main.js
  plugin/src/main.ts
Due: plugin-lint, plugin-tsc

Update Pygments to fix Dependabot alert
  backend/uv.lock
Due: none

Release backend 3.0.3
  CHANGELOG.md
  README.md
  backend/README.md
  backend/obsidianrag/__init__.py
  backend/pyproject.toml
  backend/uv.lock
Due: backend-mypy

Fix backend PyPI trusted publishing
  .github/workflows/release-backend.yml
Due: none

fix(security): update deps to fix 4 vulnerabilities
  plugin/package.json
  plugin/pnpm-lock.yaml
Due: none

Document LangChain classic migration
  README.md
  docs/developer-guide/architecture.md
  docs/developer-guide/langchain-classic-migration.md
Due: none

Patch backend security dependencies
  backend/pyproject.toml
  backend/uv.lock
Due: none

refactor: remove redundant project scaffolding
  .github/workflows/test-backend.yml
  .github/workflows/test-plugin.yml
  .gitignore
  CHANGELOG.md
  backend/.pre-commit-config.yaml
  backend/obsidianrag/core/qa_service.py
  backend/pyproject.toml
  backend/uv.lock
  docs/developer-guide/langchain-classic-migration.md
  manifest.json
  plugin/esbuild.config.mjs
  plugin/main.js
  plugin/package.json
  plugin/pnpm-lock.yaml
  plugin/tsconfig.json
Due: backend-mypy, plugin-lint

fix: harden indexing and backend lifecycle
  .gitignore
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/api/server.py
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/core/db_service.py
  backend/obsidianrag/evaluation.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_db_service.py
  backend/tests/test_evaluation.py
  backend/tests/test_server.py
  plugin/src/main.ts
  plugin/tests/edge-cases.test.ts
  plugin/tsconfig.json
Due: backend-mypy, plugin-lint, plugin-tsc

feat: add experimental v4 retrieval vertical
  .github/workflows/test-backend.yml
  CHANGELOG.md
  backend/README.md
  backend/evaluation/README.md
  backend/evaluation/questions.json
  backend/evaluation/sample-vault/Operations/Backup Policy.md
  backend/evaluation/sample-vault/Operations/Deployment Runbook.md
  backend/evaluation/sample-vault/Operations/Secret Rotation.md
  backend/evaluation/sample-vault/Projects/Art.md
  backend/evaluation/sample-vault/Reference/Error Codes.md
  backend/evaluation/sample-vault/Research/Cartography.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/evaluation.py
  backend/obsidianrag/v4/__init__.py
  backend/obsidianrag/v4/index.py
  backend/obsidianrag/v4/retrieval.py
  backend/pyproject.toml
  backend/tests/test_cli.py
  backend/tests/test_evaluation.py
  backend/tests/test_v4_experimental.py
  backend/uv.lock
  docs/developer-guide/architecture.md
Due: backend-mypy

fix: load existing index when updates are disabled
  CHANGELOG.md
  backend/obsidianrag/core/db_service.py
  backend/tests/test_db_service.py
Due: backend-mypy

fix: make full-vault indexing reliable
  CHANGELOG.md
  backend/obsidianrag/core/db_service.py
  backend/obsidianrag/core/metadata_tracker.py
  backend/obsidianrag/core/qa_service.py
  backend/tests/test_db_service.py
  backend/tests/test_qa_agent.py
Due: backend-mypy

feat: add standard retrieval metrics
  CHANGELOG.md
  backend/README.md
  backend/evaluation/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/evaluation.py
  backend/tests/test_evaluation.py
Due: backend-mypy

feat: add confidence intervals to evaluation
  CHANGELOG.md
  backend/README.md
  backend/evaluation/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/evaluation.py
  backend/tests/test_evaluation.py
Due: backend-mypy

feat: compare evaluation runs offline
  CHANGELOG.md
  backend/README.md
  backend/evaluation/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/evaluation.py
  backend/tests/test_cli.py
  backend/tests/test_evaluation.py
Due: backend-mypy

feat: add embedding-free grounded evaluation
  CHANGELOG.md
  backend/README.md
  backend/evaluation/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/evaluation.py
  backend/obsidianrag/v4/__init__.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_cli.py
  backend/tests/test_evaluation.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

feat: evaluate answers with external agents
  CHANGELOG.md
  backend/README.md
  backend/evaluation/README.md
  backend/obsidianrag/agent_evaluation.py
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/pi_agent_adapter.py
  backend/tests/test_agent_evaluation.py
  backend/tests/test_cli.py
Due: backend-mypy

fix: select evidence-bearing chunks in v4
  CHANGELOG.md
  backend/README.md
  backend/obsidianrag/cli/main.py
  backend/obsidianrag/v4/retrieval.py
  backend/tests/test_v4_experimental.py
Due: backend-mypy

test: normalize styled CLI help output
  backend/tests/test_cli.py
Due: backend-mypy
